* {
    margin: 0;
}

body {
    font-family: "Dela Gothic One", sans-serif;
}

p {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: bold;
}

/* Estilos de la navbar */
.navbar {
    width: 100%;
    height: 90px;
    background-color: #523B58;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Dela Gothic One", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 30px;
    color: white;
    margin-left: 15px;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
    padding-left: 1000px;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: #766C91;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: black;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.container {
    background-color: #766C91;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 50px;
}

.movie-list-title {
    padding-top: 15px;
    padding-bottom: 80px;
    position: relative;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: sticky;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    z-index: 1;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
    z-index: 10;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: #766C91;
    font-family: "Bebas Neue", sans-serif;
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc {
    background-color: #766C91;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.container.active {
    background-color: #B6CDE1;
}

.movie-list-title.active {
    color: #536474;
    padding-bottom: 20px;
}

.navbar-container.active {
    background-color: #536474;
    color: #86B4DD;
}

/* Responsivo */
@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}
